<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Collections",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<p>This route is kicking off a script tag upload. Please update the settings in the controller.</p>
